.DS_Store
logs
project/project
project/target
target
tmp
.history
dist
/.idea
*.iml
/out
/.idea_modules
/.classpath
/.project
/.settings
/.target
/bin
/.cache
log.filepath_IS_UNDEFINED
log.event.filepath_IS_UNDEFINED
local-secret.conf
local-secret-manage.conf
*~

